{% extends "base.html" %}

{% block title %} Создание задачи :: {{ block.super }} {% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    {% if user in column.board.members.all %}
        <h2>Создание задачи - {{ column }}</h2>
        <form action="{% url 'create-card' pk=column.pk board_id=column.board.id %}" method="post">
            <div class="d-grid gap-2">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary mb-3">Создать задачу</button>
            </div>
        </form>
    {% else %}
        У вас нет доступа к этой странице
    {% endif %}
{% endblock %}
