{% extends "base.html" %}

{% block title %} {{ column.name }}::{{ block.super }} {% endblock %}

{% block sidebar %}
    <div class="mb-3">
        <form action="{% url 'create-card' pk=column.pk board_id=column.board.id %}">
            <button class="btn btn-primary">Добавить задачу</button>
        </form>
    </div>
    {% if user.pk is column.board.owner.pk %}
    <div class="mb-3">
        <form action="{% url 'update-column' pk=column.pk board_id=column.board.id %}">
            <button class="btn btn-primary">Изменить столбец</button>
        </form>
    </div>
    <div class="mb-3">
        <form action="{% url 'delete-column' pk=column.pk board_id=column.board.id %}">
            <button class="btn btn-primary">Удалить столбец</button>
        </form>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user in column.board.members.all %}
        <h2>{{ column }}</h2>
        {% if column.cards.all %}
            <table class="table table-hover">
                <tbody>


                {% for card in column.cards.all %}
                    <tr onclick="window.location.href='{% url "view-card" pk=card.pk column_id=card.column.id board_id=card.column.board.id %}';return false">
                        <td>
                            {{ card.position }}. {{ card.name }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            В этом столбце пока нет задач
        {% endif %}
    {% else %}
        У вас нет доступа к этому столбцу
    {% endif %}
{% endblock %}

