{% extends "base.html" %}

{% block title %} Удаление столбца :: {{ block.super }} {% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    {% if user.pk is column.board.owner.pk %}
        <form action="" method="post">
            <div class="d-grid gap-2">
                {% csrf_token %}
                <h2>Уверены, что хотите удалить столбец - {{ column }}?</h2>
                <button type="submit" class="btn btn-primary mb-3">Удалить столбец</button>
            </div>
        </form>
    {% else %}
        У вас нет доступа к этой странице
    {% endif %}
{% endblock %}
