{% extends "base.html" %}

{% block title %} Изменение столбца :: {{ block.super }} {% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    {% if user.pk is column.board.owner.pk %}
    <h1>Изменение столбца - {{ column }}</h1>
    <form action="" method="post">
        <div class="d-grid gap-2">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary mb-3">Изменить столбец</button>
        </div>
    </form>
    {% else %}
        У вас нет доступа к этой странице
    {% endif %}
{% endblock %}
